// title 
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

%font-title {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

// body
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

%font-body {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}


h1, h2, h3, h4, h5, h6 {
    @extend %font-title;
}